@font-face {
    font-family: "EvelethCleanRegular";
    src: url("Eveleth Clean Regular.otf") format("truetype");
}
*{
    font-family: EvelethCleanRegular ;
}
body{
    background-color:;
}
#delivery{
    background-color: #006991;
}
#pickup{
    background-color: #e41837;
}